#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #000;
}

main {
  background: rgb(99,99,99);
  background: radial-gradient(circle, rgba(99,99,99,1) 13%, rgba(0,0,0,1) 80%);
  background-size: 70%;
}

.navbar {
  width: 100%;
  padding: 20px;
  padding-bottom: 10vh;
}

.nav {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bawah {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bawah li {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.bawah li a {
  background-color: #2b2b2b;
  padding: 10px 20px;
  text-decoration: none;
  color: #7094ff;
  border-radius: 5px;
}

.bawah li a:hover {
  background-color: #4164cd;
  color: #2b2b2b;
}

.logo2 h1 {
  color: white;
  text-align: start;
}

.logo2 {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.inputan {
  width: 80%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: white;
  border-radius: 50%;
  animation: typing 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px;
    padding-bottom: 3vh;
  }

  .bawah li a {
    font-size: 14px;
  }

  .card {
    padding: 1em;
  }

  main {
    background-size: 200%;
  }

  
}
